.login-container{
    text-align: center;
    vertical-align: middle;
}

#form-container{
    margin: auto;
    border: 1px solid #2f2f2f;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 300px;
}

#form-container form{
    display: grid;
    grid-template-columns: auto;
    width: fit-content;
    margin: auto;
}